body{
  width: auto;
  background-image: url(sea.jpeg);
  background-size: cover;
  user-select: none;
}

#field{
  width: 900px;
  margin: auto;
}

#clock{ 
  font-size: 30px;
  color: whitesmoke;
}

.card{
  width: 70px;
  height: 100px;
  background-color: whitesmoke;
  line-height: 100px;
  text-align: center;
  border:  2px solid gray;
  border-radius: 5px;
  font-size: 30px;
  margin: 8px;
  float: left;
}