body{
  width: 100%;
}

#field{
  width: 600px;
  margin: auto;
}

#clock{ 
  font-size: 30px;
}

.card{
  width: 70px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border:  2px solid gray;
  border-radius: 5px;
  font-size: 30px;
  margin: 8px;
  float: left;
}