* { 
  margin: 0;
  padding: 0; 
}

body{
  user-select: none; /*文字選択不可化*/
  background-color: #ffe2c6;
}

a{
  text-decoration: none; /*リンク下線無効化*/
}
  
.row{
  margin-top: 3%;
}

.title{
  text-align: center;
  margin: 30px 0 30px 0;
  font-size: 30px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: orange;
  color: whitesmoke;
}

.site_image{
  margin: 30px 5% 0 5%;
  text-align: center;
}

img{
  border-radius: 10px;
  transition:transform 0.3s;
}

img:hover {
  transform:scale(1.1);
  }

p{
  margin: 10px 0;
  color: dimgray;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.shibuns{
  font-size: 30px;
}